<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Scanner: Your task is still running</title>

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
        <meta http-equiv="refresh" content="5; URL={{ url }}">
    </head>
    <body>
        <div class="container">
            <h1>Scan in progress</h1>
            Your task is in the state <b>{{ status }}</b>. This page will automatically refresh every 5 seconds.
        </div>
    </body>
</html>
